.app{
  display: flex;
  width: 100vw;
  height: 100vh;
}
#container{
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.userInput{
    height: 30px;
    width: 600px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
#heading{
  display: flex;
  justify-content: center;
}